/* .search-section {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
} */

/* @media (max-width: 768px) {
    .space {
      gap: 30px; 
    }
  } */
  
  /* Small devices (mobile, 480px and below) */
  /* @media (max-width: 480px) {
    .space {
      gap: 20px; 
    }
  } */



